.tf-section1 {
    height: 450px;
    position: relative;
}
.tf-section1-title,
.tf-solutions-title {
    font-size: 32px;
    color: #333;
    line-height: 44px;
    text-align: center;
    padding-top: 150px;
    letter-spacing: 2px;
}
.tf-section1-title {
    width: 650px;
    margin: 0 auto;
}
.tf-section1::before,
.tf-section1::after {
    content: '';
    position: absolute;
    width: 47px;
    height: 39px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url('../image/solutions/symbol1.png');
}
.tf-section1::before {
    left: 130px;
    top: 135px;
}
.tf-section1::after {
    background-image: url('../image/solutions/symbol2.png');
    right: 130px;
    top: 265px;
}
.tf-section2 {
    display: flex;
    justify-content: space-between;
    padding-bottom: 60px;
}
.tf-section2 .item {
    box-sizing: border-box;
    min-height: 376px;
    width: 376px;
    box-shadow: 0px 4px 24px 0px rgba(220, 220, 220, 0.45);
    transition: transform 0.2s ease-in;
    position: relative;
    padding: 20px 22px 20px 52px;
}
.tf-section2 .item:hover {
    transform: translateY(-7px);
    -webkit-transform: translateY(-7px);
    -moz-transform: translateY(-7px);
    -ms-transform: translateY(-7px);
    -o-transform: translateY(-7px);
}
.tf-section2 .item::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 4px;
    background: #1cab68;
    transition: width 0.2s ease-in;
}
.tf-section2 .item:hover::after {
    width: 100%;
}
.tf-section2 .product-icon {
    margin: 12.5px;
}
.tf-section2 .h4 {
    font-size: 24px;
    line-height: 24px;
    color: #333;
    position: relative;
    padding-top: 17px;
    padding-bottom: 24px;
}
.tf-section2 .h4::after {
    content: '';
    width: 60px;
    height: 2px;
    display: block;
    background-color: #1cab68;
    position: absolute;
    left: 0;
    bottom: 0;
}
.tf-section2 .desc {
    width: 275px;
    font-size: 14px;
    line-height: 32px;
    letter-spacing: 0.2px;
    color: #666;
    margin-top: 29px;
}

.tf-section3 {
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tf-solutions-title {
    padding-top: 0px;
    text-align: left;
}
.tf-solutions-list {
    margin-top: 38px;
    width: 520px;
}
.tf-solutions-list p {
    color: #303030;
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 20px;
    display: flex;
}
.tf-solutions-list p span {
    margin-right: 15px;
}